@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

#app {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

input[type="text"] {
    background: rgb(231, 231, 231);
    border: none;
    color: rgb(99, 99, 99);
    border-radius: 10px;
    font-weight: bold;
    font-size: 2em;
    padding: 5px 15px 5px 15px;
    width: 20%;
    min-width: 100px;
}

button {
    background: none;
    outline: none;
    border: none;
}
